.hours{
	display: inline-flex;
	border: 2px solid #eaeaea;
	padding: 1em;
	margin-right: .2em;
	border-radius: 10px;
}

.hours:hover{
	border-radius: 10px;
	cursor: pointer;
}

.selected{
	background-color: rgba(68, 157, 68, .7);
	border-color: #398439;
	color: white;
}

.noSelected{
	background-color: white;
}

.listDays{
	text-align: center;
}

.panel-title{
	font-size: 20px;
}

.content-take-turns{
	width: 70%;

	margin: 0px auto;
}

.send-turns{
	padding: 1em 2em;
}

.title-take-turns{
	text-align: center;
	color: #777;
	margin: 1em auto;
}

.panel-group{
	border: 1px solid #eaeaea !important;
	border-radius: 15px !important;
}

.warning{
	background-color: #f5e9aa;
	border: 1px solid #e6d265;
}

.danger{
	background-color: #f18989;
	border: 1px solid #dc5f5f;
}