.row-workerDisabled{
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 1em 0px;
}

.row-workerDisabled > div{
	display: inline-flex;
	width: 20%;
}	

.row-workerDisabled > div > div{
	width: 100%;
	font-size: 15px;
	text-align: center;
}

.row-workerDisabled > div > div > button{
	width: 45%;
	margin-left: 2px;
}