#content-formRegister{
 margin-top: 5em;
}

.panel-primary{
 border: 1px solid #eaeaea !important;
}

.content-register{
 width: 90%;
}

.form-group label{
 text-align: left;
}

.form-horizontal{
 border: 1px solid #eaeaea;
 margin: 0px auto;
 width: 95%;
 padding: 2em;
}

.dataIncorrect{
 box-shadow: 0px 0px 10px red;
}

.dataIncorrect:focus{
 box-shadow: 0px 0px 10px red;
}

.dataCorrect{
 box-shadow: 0px 0px 10px green;
}

.dataCorrect:focus{
 box-shadow: 0px 0px 10px green;
}

.contentBtnRgister{
 width: 50%;
 margin: 0px auto;
}

.contentBtnRgister input{
 width: 100%;
}

.specialLabel{
 width: 50% !important;
}

.btn-register{
 border-radius: 5px !important;
 margin-top: 1em;
}

.psw-bottstrap{
    margin-top: 0px !important;
}
