<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="static/images/icon/icon.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>MarketPlace</title>
</head>
<body>
    <section id="app"></section>
    <script src="./static/js/main.bundle.js"></script>
</body>
</html>
