<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Session</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main/main.css" />
    <link rel="stylesheet" href="/static/css/home/home.css" />
    <link rel="stylesheet" href="/static/css/take_turn/take_turn.css" />
    <link rel="stylesheet" href="/static/css/take_turn/view_turn.css" />
    <link rel="stylesheet" href="/static/css/admin/market/create.css" />
    <link rel="stylesheet" href="/static/css/admin/workers/workersDisabled.css" />
    <link rel="stylesheet" href="/static/css/viewWorkers/viewWorkers.css"/>
    <link rel="stylesheet" href="/static/css/admin/market/viewMarket.css">
</head>
<body>
    <section id="app"></section>
    <h1> {{ title }} </h1>
<!--     <h1>{{ data }}</h1> -->
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.bundle.js"></script>
    <script src="/static/js/initializeSession.js"></script>
</body>
</html>
